@import "../../../../assets/scss/variable";

/* blog section css start */
.blog-content-block {
  text-align: center;
}

.blog-second-block {
  cursor: pointer;
  padding-top: 20px;
  .blog-title {
    text-transform: capitalize;
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    color: $color-black;
    transition: all 0.5s ease-in-out;
  }
  .blog-dec {
    margin: 0;
  }
  .blog-icon {
    position: relative;
    width: 55px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      svg {
        height: 40px;
        line-height: 40px;
        width: 31px;
        color: $color-black;
        text-align: center;
        transition: all 0.5s ease-in-out;
        &.fa-lightbulb-o {
          font-size: 36px;
        }
      }
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all 0.5s ease-in-out;
      transform: scale(0.4);
      filter: opacity(0);
      background: url("../../../../assets/images/blog/icon-bg.png") no-repeat center;
    }
  }
  &:hover {
    .blog-icon {
      &:after {
        transform: scale(1);
      }
      span {
        i {
          -webkit-background-clip: text;
          color: transparent;
        }
      }
    }
  }
}

.blog-left-content {
  float: left;
}

.blog-right-content {
  overflow: hidden;
  padding-left: 15px;
}

.blog-2 {
  margin: 0 auto;
  img {
    filter: grayscale(0.9);
  }
}

.blog-first-block {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  img {
    width: 100%;
    height: auto;
    transition: all 0.4s linear;
  }
  .blog-hover {
    color: $color-white;
    width: 100%;
    height: 100%;
    transform: scale(0.5);
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 15px;
    transition: all 0.4s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .blog-hover-title {
      font-size: calc(16px + (25 - 16) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0;
    }
    .blog-hover-dec {
      font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (1920 - 320)));
      text-transform: capitalize;
      margin: 0;
    }
  }
}
/* responsive css */
@media (max-width: 991px) {
  .blog-second-block {
    padding-top: 10px;
    .blog-title {
      margin-bottom: 5px;
    }
  }
  .blog-0,
  .blog-1 {
    margin-bottom: calc(35px + (30 - 35) * ((100vw - 320px) / (1920 - 320)));
  }
}

/* blog section css end */