$color-black: #202020;
$color-white: #ffffff;
$color-theme: linear-gradient(to left, rgb(225, 0, 255) 0%, rgb(127, 0, 255) 100%);
$color-theme1: #8200ff;
$color-theme2: linear-gradient(to right, rgb(225, 0, 255) 0%, rgb(127, 0, 255) 100%);
$color-defult: #777777;
$color-defult1: #606060;

$color1: linear-gradient(to right, #e100ff 0%, #7f00ff 100%);
$color2: linear-gradient(to right, #33ccff 0%, #3366ff 100%);
$color3: linear-gradient(to right, #f83600 0%, #f9d423 100%);
$color4: linear-gradient(to right, #a445b2 0%, #ff0066 100%);
$color5: linear-gradient(to right, #184e68 0%, #57ca85 100%);
$color6: linear-gradient(to right, #30cfd0 0%, #842eee 100%);
