@import "../../../../assets/scss/variable";


.testimonial-slider {
  max-width: 720px;
  margin: 0 auto;
  overflow: hidden;
}
.slick-dots li div:hover:before,
.slick-dots li div:focus:before {
  opacity: 0;
}
.testimonial-slider {
  .testimonial-outer-box {
    .slick-slider {
      position: initial;
      .slick-dots {
        position: inherit;
        bottom: auto;
        line-height: 0;
        li {
          vertical-align: middle;
          position: initial;
          width: auto;
          height: auto;
          div {
            width: auto;
            height: auto;
            padding: 0;
            line-height: normal;
            margin: 0;
            border-radius: 200px;
            position: absolute;
            border: 4px solid transparent;
          }
          &.slick-active {
            div {
              box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.35);
              animation-name: bounce-1;
              animation-timing-function: linear;
              animation-duration: 2s;
              animation-iteration-count: infinite;
              transform-origin: bottom;
              border: 4px solid $color-white;
            }
          }
          &:nth-child(1) {
            div {
              width: 120px;
              height: 120px;
              left: 115px;
              bottom: 175px;
              background-size: cover;
            }
          }
          &:nth-child(2) {
            div {
              width: 100px;
              height: 100px;
              top: 148px;
              left: 328px;
              background-size: cover;
            }
          }
          &:nth-child(3) {
            div {
              width: 75px;
              height: 75px;
              bottom: 142px;
              left: 383px;
              background-size: cover;
            }
          }
          &:nth-child(4) {
            div {
              width: 120px;
              height: 120px;
              right: 161px;
              top: 142px;
              background-size: cover;
            }
          }
          &:nth-child(5) {
            div {
              width: 100px;
              height: 100px;
              bottom: 187px;
              right: 287px;
              background-size: cover;
            }
          }
          &:nth-child(6) {
            div {
              width: 75px;
              height: 75px;
              bottom: 142px;
              right: 98px;
              background-size: cover;
            }
          }
        }
      }
    }
  }
}


@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* responsive css */
@media (max-width: 1660px) {
  .testimonial-slider {
    .testimonial-outer-box {
      .slick-slider {
        .slick-dots {
          li {
            &:nth-child(1) {
              div {
                left: 40px;
              }
            }
            &:nth-child(2) {
              div {
                top: 145px;
                left: 205px;
              }
            }
            &:nth-child(3) {
              div {
                bottom: 80px;
                left: 240px;
              }
            }
            &:nth-child(4) {
              div {
                right: 95px;
                top: 120px;
              }
            }
            &:nth-child(5) {
              div {
                bottom: 187px;
                right: 220px;
              }
            }
            &:nth-child(6) {
              div {
                bottom: 90px;
                right: 50px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1370px) {
  .testimonial-slider {
    .testimonial-outer-box {
      .slick-slider {
        .slick-dots {
          li {
            &:nth-child(1) {
              div {
                left: 15px;
              }
            }
            &:nth-child(2) {
              div {
                top: 50px;
                left: 150px;
              }
            }
            &:nth-child(3) {
              div {
                bottom: 40px;
                left: 140px;
              }
            }
            &:nth-child(4) {
              div {
                right: 60px;
                top: 55px;
              }
            }
            &:nth-child(5) {
              div {
                bottom: 225px;
                right: 126px;
              }
            }
            &:nth-child(6) {
              div {
                bottom: 35px;
                right: 45px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .testimonial-slider {
    .testimonial-outer-box {
      .slick-slider {
        .slick-dots {
          margin-top: 15px;
          li {
            margin: 0 7.5px;
            div {
              position: initial;
              top: auto;
              left: auto;
              right: auto;
              bottom: auto;
              width: 70px !important;
              height: 70px !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .testimonial-slider {
    .testimonial-outer-box {
      .slick-slider {
        .slick-dots {
          display: none !important;
        }
      }
    }
    .testimonial-outer-box {
      .testimonial-item {
        .testimonial-content {
          .testimonial-images {
            display: block;
            visibility: visible;
          }
        }
      }
    }
  }
}

/* testimonial section css end */
