

.business_value{

  &_content{
   
  }

  &_overlay{
   
    &_right{
      left: 0;
      right: -100%;
    }

    &_left{
      left: -100%;
      right: 0;
    }


  }



  &_content_container{
   
  }

  &_paragraph{
    margin-bottom: 2.5em;
  }

  &_icon_item{
    &_right{
      margin-right: 3.5em;
      margin-top: 1em;
      @media all and (max-width: 767.99px){
        margin-right: 1.5em;
      }
    }
    &_left{
      margin-left: 3.5em;
      margin-top: 1em;
      @media all and (max-width: 767.99px){
        margin-left: 1.5em;
      }
    }
  }

  &_content_footer{
    display: flex;
    margin-top: 3em;

  }
  &_content_left{
    justify-content: flex-start;
  }
  &_content_right{
    justify-content: flex-end;
  }

  &_img_container{
    display: flex;
    align-items: center;
    height: 100%;
    @media all and (max-width: 767.99px){
      padding-top: 3em;
    }
  }
}
