@import "../../../../../assets/scss/variable";


.video_wrapper {
  background: url(../../../../../assets/images/video/bg-img.png) center no-repeat;
  background-size: cover;
  .video_dec {
    margin-bottom: calc(15px + (50 - 15) * ((100vw - 320px) / (1920 - 320))) !important;
    color: $color-white;
  }
  .video_btn {
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    span {
      background: url(../../../../../assets/images/video/video-btn.png) no-repeat center;
      background-size: contain;
      width: calc(50px + (76 - 50) * ((100vw - 320px) / (1920 - 320)));
      height: calc(50px + (76 - 50) * ((100vw - 320px) / (1920 - 320)));
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      cursor: pointer;
      margin: calc(8px + (14 - 8) * ((100vw - 320px) / (1920 - 320)));
      svg {
        width: 31px;
        height: 30px;
        margin-left: 2px;
      }
    }
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      background: url(../../../../../assets/images/video/video-border.png);
      background-size: contain;
      animation-name: rotate-border;
      animation-duration: 2500ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    @keyframes rotate-border {
      from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(240deg);
        transform: rotate(240deg);
      }
    }
  }
}

.main_title_wrapper {
  max-width: 800px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  text-align: center;
  h4 {
    color: $color-white;
  }
}