@import '@2020/css/var.scss';


body{
  background-color: $background-color;
}

.section{

  &-not-padding{
    padding: 0 !important;
  }

  &-title{
    margin-bottom: 105px;
  }
}

.container{
  &-not-margin{
    margin: 0 !important;
  }
}



.text-color-orange{
  color: $orange;
}