$orange: #E76C29;
$navy: #264A60;
$dark-slate: #90A2AD;
$medium-slate:#D2DFE6;
$light-slate: #F6F6FB;
$white: #FFFFFF;


$btn-shadow: #E76C2999;

$btn-active-shadow: #D15F2099;
$btn-hover-shadow: $btn-active-shadow;

$btn-active-bg: #D05B1B;
$btn-hover-bg: $btn-active-bg;