// color palette
$orange: #E76C29;
$navy: #264A60;
$dark-slate: #90A2AD;
$medium-slate:#D2DFE6;
$light-slate: #F6F6FB;
$white: #FFFFFF;

//backgrounds
$background-color: #F4F6FB;
$btn-active-bg: #D05B1B;
$btn-hover-bg: $btn-active-bg;

// shawdow
$box-shadow: #264A6017;
$btn-shadow: #E76C2999;
$btn-active-shadow: rgba(31, 26, 23, 0.6);
$btn-hover-shadow: $btn-active-shadow;

// font sizes
$font-size-1: 100px;
$font-size-2: 80px;
$font-size-3: 60px;
$font-size-4: 50px;
$font-size-5: 50px;
$font-size-6: 36px;
$font-size-7: 32px;
$font-size-8: 26px;
$font-size-9: 20px;
$font-size-10: 18px;
$font-size-11: 16px;
$font-size-12: 13px;
$font-size-13: 12px;

//fonts family
$font-light: 'Lato-light', sans-serif;
$font-regular: 'Lato-Regular', sans-serif;
$font-bold: 'Lato-bold', sans-serif;
$font-black: 'Lato-black', sans-serif;
