$orange: #E76C29;
$navy: #264A60;
$dark-slate: #90A2AD;
$medium-slate:#D2DFE6;
$light-slate: #F6F6FB;
$white: #FFFFFF;


$btn-shadow: #E76C2999;

$btn-active-shadow: #D15F2099;
$btn-hover-shadow: $btn-active-shadow;

$btn-active-bg: #D05B1B;
$btn-hover-bg: $btn-active-bg;

$font-size-hero: 95px;
$font-size-h1: 80px;
$font-size-h2: 60px;
$font-size-h3: 50px;
$font-size-h4: 50px;
$font-size-h5: 32px;
$font-size-h6: 26px;
$text-size: 20px;
$text-button-size: 16px;
$text-button-light-size: 16px;
$paragraph: 18px;
$icon-title: 12px;
