@import '../../../../assets/css/2020/var.scss';


.hero{

  &__body{
    padding-top: 5em;
    @media all and (max-width: 767.99px){
      padding-top: 0em;
    }
  }

  &_body_left{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }

  &_text{
    @media all and (max-width: 767.99px){
      text-align: center;
    }
  }

  &_orange_text{
    color: $orange;
  }

  &_read_more{
    margin-top: 25px;
    @media all and (max-width: 767.99px){
      display: flex;
      justify-content: center;
    }
  }

}