@import "../../../../assets/scss/variable";

:root {
  --bannerimg: url("../../../../assets/images/banner/bg-slate.png");
}
$bannerimg: var(--bannerimg);
.demo1 {
  &.banner-wrapper {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: $bannerimg;
    &:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: -736px;
      width: 386px;
      height: 987px;
      background: url(../../../../assets/images/banner/banner-bg.png) no-repeat left;
      opacity: 0.1;
      z-index: -1;
    }

    @media screen and (max-width: 768px){
      padding-left: 1.5em;
      padding-right: 1.5em;
    }
  }
}
.banner-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  padding-top: calc(85px + (170 - 85) * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(70px + (180 - 70) * ((100vw - 320px) / (1920 - 320)));
  .row {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.banner-content {
  .banner-main-title {
    font-size: calc(20px + (60 - 20) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(26px + (66 - 26) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: calc(10px + (27 - 10) * ((100vw - 320px) / (1920 - 320)));
    color: $color-white;
    font-weight: 700;
    text-transform: uppercase;
  }
  .banner-dec {
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(20px + (26 - 20) * ((100vw - 320px) / (1920 - 320)));
    color: $color-white;
    margin-bottom: 33px;
  }
}

.banner-image {
  text-align: right;
  position: relative;
  .banner-img {
    margin-right: -53px;
  }
}

.slider-animation-images {
  span {
    display: block;
    position: absolute;
  }
  .image1 {
    left: 2.6%;
    top: 12%;
    animation: animationFramesOne 15s infinite linear;
  }
  .image2 {
    top: 13%;
    left: 2.8%;
    animation: animationFramesThree 15s infinite linear;
  }
  .image3 {
    left: 1.5%;
    bottom: 35.6%;
    animation: animationFramesOne 15s infinite linear;
  }
  .image4 {
    left: 33%;
    bottom: 13%;
    animation: animationFramesTwo 15s infinite linear;
  }
  .image5 {
    left: 37%;
    bottom: 16%;
    animation: animationFramesTwo 15s infinite linear;
  }
  .image6 {
    right: 40.2%;
    top: -1%;
    animation: animationFramesFour 15s infinite linear;
  }
  .image7 {
    right: 33.5%;
    bottom: 0;
    animation: animationFramesFive 15s infinite linear;
  }
  .image8 {
    right: 6.3%;
    top: 15%;
    animation: animationFramesSix 15s infinite linear;
  }
  .image9 {
    right: -4%;
    bottom: 14%;
    animation: ripple4 15s linear infinite;
  }
  @keyframes animationFramesOne {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
      -webkit-transform: translate(73px, -1px) rotate(36deg);
      transform: translate(73px, -1px) rotate(36deg);
    }
    40% {
      -webkit-transform: translate(141px, 72px) rotate(72deg);
      transform: translate(141px, 72px) rotate(72deg);
    }
    60% {
      -webkit-transform: translate(83px, 122px) rotate(108deg);
      transform: translate(83px, 122px) rotate(108deg);
    }
    80% {
      -webkit-transform: translate(-40px, 72px) rotate(144deg);
      transform: translate(-40px, 72px) rotate(144deg);
    }
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg);
    }
  }

  @keyframes animationFramesTwo {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
      transform: translate(0px, 0px) rotate(0deg) scale(1);
    }
    20% {
      -webkit-transform: translate(200px, -1px) rotate(36deg) scale(0.7);
      transform: translate(200px, -1px) rotate(36deg) scale(0.7);
    }
    40% {
      -webkit-transform: translate(251px, 140px) rotate(72deg) scale(0.6);
      transform: translate(251px, 140px) rotate(72deg) scale(0.6);
    }
    60% {
      -webkit-transform: translate(141px, 250px) rotate(108deg) scale(0.7);
      transform: translate(141px, 250px) rotate(108deg) scale(0.7);
    }
    80% {
      -webkit-transform: translate(-40px, 100px) rotate(144deg) scale(0.8);
      transform: translate(-40px, 100px) rotate(144deg) scale(0.8);
    }
    100% {
      -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
      transform: translate(0px, 0px) rotate(0deg) scale(1);
    }
  }
  @keyframes animationFramesThree {
    0% {
      -webkit-transform: translate(1000px, 1000px);
      transform: translate(1000px, 1000px);
    }
    100% {
      -webkit-transform: translate(-500px, -500px);
      transform: translate(-500px, -500px);
    }
  }
  @keyframes animationFramesFour {
    0% {
      transform: translate(-1000px, 1000px);
    }
    100% {
      transform: translate(200px, -200px);
    }
  }
  @keyframes animationFramesFive {
    0% {
      -webkit-transform: translate(200px, 200px);
      transform: translate(200px, 200px);
    }
    100% {
      -webkit-transform: translate(-1000px, -1000px);
      transform: translate(-1000px, -1000px);
    }
  }
  @keyframes ripple4 {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0.5;
    }
  }
  @keyframes animationFramesSix {
    0% {
      -webkit-transform: translate(-250px, 200px);
      transform: translate(-250px, 200px);
    }
  }
}
/* responsive css */
@media (max-width: 1799px) {
  .banner-image {
    .banner-img {
      margin-right: 0;
    }
  }
}
@media (max-width: 1499px) {
  .banner-image {
    .banner-img {
      max-width: 80%;
    }
  }
  .slider-animation-images {
    .image8 {
      display: none;
    }
  }
}
@media (max-width: 1199px) {
  .banner-wrapper {
    &:before {
      display: none;
    }
  }
  .banner-content {
    .banner-main-title {
      margin-bottom: 10px;
      line-height: normal;
    }
  }
  .banner-content {
    .banner-dec {
      margin-bottom: 20px;
      line-height: normal;
    }
  }
}
@media (max-width: 767px) {
  .banner-content {
    max-width: 80%;
  }
  .banner-image {
    text-align: center;
    .banner-img {
      max-width: 60%;
    }
  }
  .banner-wrapper:before {
    display: none;
  }
  .banner-image {
    display: none;
  }
}
@media (max-width: 480px) {
  .banner-image {
    .banner-img {
      max-width: 80%;
    }
  }
  .banner-content {
    max-width: 100%;
  }
}