@import '@2020/css/var.scss';


.service{

  &_card_container{
    width: 100%;
    margin: 0 auto;
    background: $white 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 30px $box-shadow;
    margin-top: 105px;
  }

  &_column{

    @media all and (max-width: 767.99px){
      background: $white 0% 0% no-repeat padding-box;
    }
    
    &:nth-child(1){
      @media all and (max-width: 767.99px){
        border-bottom: 1px solid $dark-slate;
      }
    }

    &:nth-child(2){
      @media all and (max-width: 767.99px){
        border-bottom: 1px solid $dark-slate;
      }
    }
   
  }

  &_item{
    min-height: 447px;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media all and (max-width: 767.99px){
      min-height: 323px;
    }
  }

  &_icon_container{
    padding-bottom: 1em;
  }

  &_item_footer{
    margin-top: 3em;
  }

}

