@import "../../../../assets/enterprise-2020/scss/variable";

/* portfolio section css start */

.portfolio-wrapper {
  .portfolio-6 {
    .portfolio-content {
      margin: 0;
    }
  }
  .portfolio-content {
    margin-bottom: 30px;
    text-align: center;
    .portfolio-first-block {
      position: relative;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      border-radius: 5px;
      cursor: pointer;
      img {
        width: 100%;
      }
      &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        left: 0;
        background-color: rgba(5, 6, 11, 0.5);
        transition: all 0.5s ease-in-out;
        opacity: 0.5;
      }
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 0;
        bottom: 0;
        opacity: 0.6;
        transition: all 0.5s ease-in-out;
      }
      .portfolio-hover {
        position: absolute;
        text-align: left;
        padding: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .portfolio-hover-title,
        .portfolio-hover-dec {
          font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
          font-weight: 400;
          display: block;
          position: relative;
          color: $color-white;
          text-transform: capitalize;
          margin-bottom: 0;
        }
        .portfolio-hover-dec {
          font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
          font-weight: 500;
          opacity: 0;
          height: 0;
          overflow: hidden;
          transition: all 0.5s ease-in-out;
        }
      }
      &:hover {
        &:before {
          height: 100%;
          top: 0;
        }
        &:after {
          opacity: 0;
        }
        .portfolio-hover-dec {
          opacity: 1;
          height: 44px;
          margin-top: calc(8px + (15 - 8) * ((100vw - 320px) / (1920 - 320)));
        }
      }
    }
  }
  .portfolio-3,
  .portfolio-4,
  .portfolio-5 {
    .portfolio-content {
      margin-bottom: 0;
    }
  }
}
/* responsive css */
@media (min-width: 576px) {
  .portfolio-wrapper {
    .portfolio-content {
      .portfolio-first-block {
        width: 100%;
      }
    }
  }
}
@media (max-width: 991px) {
  .portfolio-wrapper {
    .portfolio-3,
    .portfolio-4 {
      .portfolio-content {
        margin-bottom: 30px;
      }
    }
  }
}
@media (max-width: 575px) {
  .portfolio-wrapper {
    .portfolio-3,
    .portfolio-4,
    .portfolio-5 {
      .portfolio-content {
        margin-bottom: 30px;
      }
    }
  }
}
@media (max-width: 767px) {
  .portfolio-wrapper {
    .portfolio-content {
      .portfolio-first-block {
        .portfolio-hover {
          .portfolio-hover-dec {
            line-height: 24px;
          }
        }
      }
    }
  }
}

/* portfolio section css end */
