@import '../../../../assets/css/2020/var.scss';

.button{
  padding: 9px 25px;
  border: none;
  cursor: pointer;
  transition: all .2s linear;
  outline-style: none ;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 500;
  // text-transform: uppercase;

  &_block{
    width: 100%;
  }

  &_text{
    color: inherit !important;
    font-size: 16px;
  }

  &_default{
    background-color: $orange;
    background: $orange 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 25px $btn-shadow !important;
    color: $white !important;

    &:hover, &:focus{
      background: $btn-active-bg 0% 0% no-repeat padding-box;
      box-shadow: 0px 5px 10px $btn-shadow !important;
    }
  }

  &_primary{
    background: none;
    box-shadow: none;
    color: $orange;
    .button_text{
      font-size: 18px;
    }
    &:hover{
      color: $btn-active-bg;
      transform: scale(1.05);
    }
  }

  &_secondary{
    background: none;
    box-shadow: none;
    color: $dark-slate !important;

    &:hover{
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 5px 15px #2749606C !important; //TODO add this color to var.scss
    }

    &:focus{
      background: #264A60 0% 0% no-repeat padding-box;
      box-shadow: 0px 5px 15px #2749606C !important;
      .button_text{
        color: $white !important;
      }
    }

  }

  &:hover, &:focus{
    border: none;
  }
}

.icon_container{
  position: absolute;
  display: inline-block;
  margin: auto;
  animation: loading .5s linear  infinite;
  border-radius: 290486px;
  border: 2px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  width: 20px;
  height: 20px;
}

.display{
  &_block{
    visibility: visible;
  }
  &_hidden{
    visibility: hidden;
  }
}

@keyframes loading {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
