@import "../../../../assets/enterprise-2020/scss/variable";

/* Navbar css start */

.App-header {
  position: relative;
  .row {
    align-items: center;
  }
}
.search-menu-account-wrapper {
  text-align: right;
}

.logo-wrapper {
  a {
    display: flex;
    align-items: center;
    height: 100px;
    transition: all 0.5s ease-in-out;
  }
}

.menu-right-1 {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
  margin-right: 30px;
  &:after {
    position: absolute;
    content: "";
    border-right: 1px solid $color-white;
    right: 0;
    height: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .search-wrapper,
  .account-wrapper {
    display: inline-block;
    vertical-align: middle;
    .search-header,
    .account-icon {
      padding-right: 5px;
      cursor: pointer;
      svg {
        color: $color-white;
      }
    }
    .account-icon {
      padding-right: 10px;
    }
  }
  .login-register-wrapper {
    .login-register-outer {
      width: 35%;
      margin: 0 auto;
      padding: 100px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      overflow-x: auto;
      box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.1);
      .react-tabs__tab-list {
        margin-bottom: 30px;
        li {
          display: inline-block;
          vertical-align: middle;
          width: 50%;
          font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
          font-weight: 500;
          text-transform: uppercase;
          border-bottom: 2px solid transparent;
          cursor: pointer;
          line-height: 36px;
        }
      }
      .react-tabs__tab-panel {
        .tabfirst-block {
          .tab-title {
            font-size: calc(22px + (40 - 22) * ((100vw - 320px) / (1920 - 320)));
          }
          .tab-dec {
            font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(52, 61, 72, 0.8);
            margin-bottom: calc(12px + (22 - 12) * ((100vw - 320px) / (1920 - 320)));
          }
          .login-btn1 {
            width: 75%;
            font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (1920 - 320)));
            font-weight: 500;
            background-color: transparent;
            border: none;
            padding: 4px 15px;
            line-height: 40px;
            margin: 0 auto;
            margin-bottom: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
            box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            .login-img {
              margin-right: 22px;
              width: 24px;
              line-height: 22px;
              text-align: center;
            }
          }
          .form-wrapper {
            text-align: left;
            .form-group {
              position: relative;
              margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
              .form-control {
                border: none;
                padding: 5px 0;
                height: 40px;
                border-bottom: 1px solid #ebebeb;
                font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
                font-weight: 400;
                color: #484848;
                border-radius: 0;
                position: relative;
              }
              .form-check-label {
                cursor: pointer;
                .form-check-input {
                  position: initial;
                  margin: 0;
                  cursor: pointer;
                }
              }
              &.checkbox-password {
                display: flex;
                justify-content: space-between;
                .forget-password {
                  background-color: transparent;
                  padding: 0;
                  border: none;
                }
              }
            }
            .login-btn {
              border: none;
              min-width: 155px;
              padding: 10px 15px;
              line-height: 28px;
              font-size: 14px;
              border-radius: 5px;
              font-weight: 500;
              display: inline-block;
              vertical-align: middle;
              color: $color-white;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
  .login-register-wrapper,
  .search-outer-wrapper {
    position: fixed;
    background: #ffffff;
    opacity: 0;
    top: -100%;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    display: flex;
    z-index: 10;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease-in-out;
    &.open {
      top: 0;
      opacity: 1;
      visibility: visible;
    }
  }
  .search-title-box {
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    .search-title {
      font-size: calc(22px + (40 - 22) * ((100vw - 320px) / (1920 - 320)));
      text-transform: capitalize;
      margin-bottom: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
    }
  }
  .search-box {
    position: relative;
    border-radius: 5px;
    .form-control {
      border: none;
      padding: 5px 0;
      height: 40px;
      background-color: #ffffff;
      border-bottom: 1px solid #ebebeb;
      font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 400;
      color: #484848;
      border-radius: 0;
      position: relative;
    }
    .search-icon {
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      text-align: center;
      position: absolute;
      right: 0;
      top: 0;
      svg {
        color: #222222;
      }
    }
  }
  .login-close,
  .search-close {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    width: calc(36px + (44 - 36) * ((100vw - 320px) / (1920 - 320)));
    height: calc(36px + (44 - 36) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(40px + (50 - 40) * ((100vw - 320px) / (1920 - 320)));
    text-align: center;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
      color: #ffffff;
    }
  }
  .login-success-popup {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    .login-success-box {
      padding: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
      box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      width: 400px;
      margin: auto;
      .login-check-images {
        width: 55px;
        height: 55px;
        line-height: 55px;
        border-radius: 55px;
        margin: -55px auto 0 auto;
        background-color: #7fc833;
        text-align: center;
        img {
          background-position: center;
          background-size: cover;
        }
      }
      .login-success-content {
        margin-top: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
        .login-success-title {
          font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
          font-weight: 500;
          color: $color-black;
        }
        .login-success-dec {
          margin-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
        }
        .login-success-btn {
          width: 100%;
          color: $color-white;
          text-transform: uppercase;
          border-radius: 5px;
          line-height: 44px;
          font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
          border: none;
          background-color: #7fc833;
        }
      }
    }
  }
}
/*checkbox*/

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}
.custom-control-input {
  top: 0;
  bottom: 0;
  margin: auto;
}
.custom-control-label {
  line-height: 24px;
  cursor: pointer;
}
.login-register-outer {
  .react-tabs {
    width: 100%;
  }
}
/* responsive  */
@media (max-width: 1799px) {
  .menu-right-1 {
    .login-register-wrapper {
      .login-register-outer {
        width: 50%;
      }
    }
  }
}
@media (max-width: 1199px) {
  .menu-right-1 {
    .login-register-wrapper {
      .login-register-outer {
        width: 70%;
      }
    }
  }
}
@media (max-width: 991px) {
  .logo-wrapper {
    a {
      height: 70px;
    }
  }
  .slider-animation-images {
    span {
      &.image8 {
        display: none;
      }
    }
  }
}
@media (max-width: 860px) {
  .menu-right-1 {
    .login-register-wrapper {
      .login-register-outer {
        padding: 50px;
      }
    }
  }
}
@media (max-width: 767px) {
  .menu-right-1 {
    .login-register-wrapper {
      .login-register-outer {
        width: 80%;
        padding: 30px;
        .react-tabs__tab-panel {
          .tabfirst-block {
            .form-wrapper {
              button {
                &.login-btn {
                  line-height: 36px;
                  padding: 0 12px;
                  min-width: 100px;
                }
              }
            }
          }
        }
      }
      .login-close {
        right: 20px;
      }
    }
    .search-outer-wrapper {
      .search-title-box {
        width: 100%;
      }
      .search-close {
        right: 20px;
      }
    }
  }
}
@media (max-width: 575px) {
  .menu-right-1 {
    .login-register-wrapper {
      .login-register-outer {
        width: 100%;
        padding: 20px;
      }
    }
  }
  .left-block,
  .right-block {
    width: 50%;
    .sidebar-toggle {
      text-align: right;
      .navbar-toggler {
        transform: scale(0.9);
      }
    }
  }
  .menu-right-1 {
    padding-right: 10px;
    margin: 0;
    .search-wrapper {
      .search-header {
        img {
          width: 16px;
        }
      }
    }
    .account-wrapper {
      .account-icon {
        img {
          width: 16px;
        }
      }
    }
    &:after {
      display: none;
    }
    .login-register-wrapper {
      .login-register-outer {
        .react-tabs__tab-panel {
          .tabfirst-block {
            .login-btn1 {
              width: 100%;
              line-height: 34px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .menu-right-1 {
    .search-wrapper,
    .account-wrapper {
      svg {
        width: 22px;
      }
    }
  }
}

/* Navbar css end */
