.title {
  color: #264A60;
}

p {
  line-height: 1.125;
  color: #264A60;
  letter-spacing: 0;
  opacity: 1;
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 400;
  position: relative;
  margin-bottom: 22px;
}
