
@import '../../../../assets/css/2020/var';

/*TODO fixed responsive title size */

@function getSize($size){
  $result: 0;

  @if $size == 1 {
    $result: $font-size-1;
  }
  @if $size == 2 {
    $result: $font-size-2;
  }
  @if $size == 3 {
    $result: $font-size-3;
  }
  @if $size == 4 {
    $result: $font-size-4;
  }
  @if $size == 5 {
    $result: $font-size-5;
  }
  @if $size == 6 {
    $result: $font-size-6;
  }
  @if $size == 7 {
    $result: $font-size-7;
  }
  @if $size == 8 {
    $result: $font-size-8;
  }
  @if $size == 9 {
    $result: $font-size-9;
  }

  @if $size == 10 {
    $result: $font-size-10;
  }

  @if $size == 11 {
    $result: $font-size-11;
  }

  @if $size == 12 {
    $result: $font-size-12;
  }

  @if $size == 13 {
    $result: $font-size-13;
  }

  @return $result;
}

.font{
  line-height: 1.125;
  color: $navy;
  letter-spacing: 0;
  opacity: 1;
  margin-bottom: 0.1em;

  @for $i from 1 through 13 {
    &_size_default_#{$i} {
      font-size: getSize($i);
     }
  }

  @for $i from 1 through 13 {
    &_size_sm_#{$i} {
      @media (min-width: 576px) {
        font-size: getSize($i);
       }
     }
  }

  @for $i from 1 through 13 {
    &_size_md_#{$i} {
      @media (min-width: 768px) {
        font-size: getSize($i);
       }
     }
  }

  @for $i from 1 through 13 {
    &_size_lg_#{$i} {
      @media (min-width: 992px) {
        font-size: getSize($i);
       }
     }
  }

  @for $i from 1 through 13 {
    &_size_xl_#{$i} {
      @media (min-width: 1200px) {
        font-size: getSize($i);
       }
     }
  }

  &_normal{
    font-family: $font-regular !important;
    // font-weight: normal !important;
  }

  &_bold{
    font-family: $font-bold !important;
    font-weight: bold !important;
  }

  &_lighter{
    font-family: $font-light !important;
    font-weight: lighter !important;
  }
}

.text_align{

  &_left{
    text-align: left;
  }

  &_centered{
    text-align: center;
  }

  &_right{
    text-align: right;
  }

}
