@import "../../../../assets/scss/variable";

/* project section css start */

.project-wrapper {
  padding-top: calc(43px + (120 - 43) * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(43px + (120 - 43) * ((100vw - 320px) / (1920 - 320)));
  .project-box-outer {
    background-color: $color-white;
    border-radius: 5px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    padding: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)))
      calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
    box-shadow: 0px 0px 25px 0px rgba(26, 26, 26, 0.35);
    &:hover {
      transform: translateY(-10px);
    }
    .counters-number {
      font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
      line-height: calc(24px + (50 - 24) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 700;
      position: relative;
      display: block;
      margin-bottom: calc(10px + (25 - 10) * ((100vw - 320px) / (1920 - 320)));
    }
    .counters-title {
      color: $color-default;
      font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 500;
      display: block;
      position: relative;
      text-transform: capitalize;
      margin-bottom: 0;
    }
  }
}
.project-box-outer {
  .animated-bg {
    i {
      top: -50px;
      right: -45px;
      left: auto;
      bottom: auto;
    }
  }
}
/* responsive css */
@media (max-width: 767px) {
  .project-wrapper {
    .project-box-outer {
      &.counter-0,
      &.counter-1 {
        margin-bottom: 30px;
      }
    }
  }
}
@media (max-width: 575px) {
  .project-wrapper {
    .project-box-outer {
      width: 60%;
      margin: 0 auto;
      &.counter-2 {
        margin-bottom: 30px;
      }
    }
  }
}
@media (max-width: 480px) {
  .project-wrapper {
    .project-box-outer {
      width: 70%;
    }
  }
}
@media (max-width: 360px) {
  .project-wrapper {
    .project-box-outer {
      width: 100%;
    }
  }
}
/* project section css end */
