@import '../../../../assets/css/2020/var.scss';

.position-relative{
  position: relative;
}


.slick-current .carousel-item{
  transform: scale(1.2);
  box-shadow: none;
}

.carousel-item{
  transition: transform .3s ease-out;
  width: 100%;
  height: 80%;
  margin: auto;
  /*add this shadow to vars file*/
  box-shadow: 0px 15px 30px #00000040;
}

.overlay_background{
  position: absolute;
  top: -40%;
  right: -40%;
  width: 100%;
  height: 100%;
  @media screen and (max-width: 768px){
    display: none;
  }
}